

body {
    background: rgb(34,193,195);
    background: linear-gradient(86deg, rgba(34,193,195,1) 18%, rgba(186,185,76,1) 100%);

}

#form-body {
    width: 512px;
    height: 602px;
    border-radius: 15px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    background-color: whitesmoke;
}

#header-bill{
    padding: 10px;
    background-color: aqua;
    border-radius: 15px;
    margin-bottom: 50px;
}

.input {
    padding-left: 70px;
}

#input-row2{
    margin-top: 40px;
    margin-bottom: 60px;
}

#button {
    margin-top: 55px;
}

#btn-cancle{
    background-color: red;
    padding: 5px 10px;
    color: white;
    border-radius: 9px;
    text-decoration: none;
}

#btn-add-service{
    background-color: #a5a8a6;
    padding: 5px 10px;
    color: white;
    border-radius: 9px;
    text-decoration: none;
}

#btn-draft{
    background-color: #5743b5;
    padding: 5px 10px;
    color: white;
    border-radius: 9px;
    text-decoration: none;
}

#btn-save-service{
    background-color: #00c224;
    padding: 5px 10px;
    color: white;
    border-radius: 9px;
    text-decoration: none;
}

#btn-save-service:hover, #btn-draft:hover, #btn-add-service:hover, #btn-cancle:hover {
    opacity: 0.7;
}

#price{
    width: 131px;
    height: 32px;
    border-radius: 9px;
    border: none;
    padding-left: 10px;
}

#total,#quantity{
    width: 170px;
    height: 32px;
    border-radius: 9px;
    border: none;
    padding-left: 10px;
    margin-top: 10px;
}

select{
    padding-left: 4px;
    width: 131px;
    height: 32px;
    border-radius: 9px;
    border: none;

}

.detail-view{
    text-decoration: none;
}

.mouse-pointer:hover {
    cursor: pointer;
}

html,
body {
    height: 100%;
}