body {
    color: #566787;
    background: #f7f5f2;
    font-family: 'Roboto', sans-serif;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title {
    color: #fff;
    background: #40b2cd;
    padding: 16px 25px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.search-box {
    position: relative;
    float: right;
}

.search-box .input-group {
    position: absolute;
    min-width: 300px;
    right: 0;
}

.search-box .input-group-addon,
.search-box input {
    border-color: #ddd;
    border-radius: 0;
}

.search-box input {
    height: 34px;
    padding-right: 35px;
    background: #f4fcfd;
    border: none;
    border-radius: 2px !important;
}

.search-box input::placeholder {
    font-style: italic;
}

.search-box .input-group-addon {
    position: absolute;
    min-width: 35px;
    border: none;
    background: transparent;
    right: 0;
    z-index: 9;
    padding: 6px 0;
}

.search-box i {
    color: #a0a5b1;
    font-size: 19px;
    position: relative;
    top: 2px;
}

table.table {
    table-layout: fixed;
    margin-top: 15px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    border: 1px solid #e9e9e9;
}

table.table .row-hover:hover {
    background-color: #ddd;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table th:first-child {
    width: 60px;
}

table.table th:last-child {
    width: 120px;
}

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

table.table td a.view {
    color: #03A9F4;
    text-decoration: none;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td a.save {
    color: #6bde36;
}

table.table td i {
    font-size: 19px;
}



img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}

/* Next & previous buttons */
.prev,
.next-slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
    -webkit-user-select: none;
}

/* Hide the images by default */
.mySlides {
    display: block;
    width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.next-slide {
    right:0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next-slide:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.active,
.demo:hover {
    opacity: 1;
}

.add-motel a{
    background-color: #e51b14;
    text-decoration: none;
    padding: 3px 10px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    
}

.disable {
    cursor: not-allowed;
    
}