img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}

/* Hide the images by default */
.mySlides {
    display: block;
    width: 100%;
    height: 585px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.active,
.demo:hover {
    opacity: 1;
}

.input-motel{
    width:100%;
}
h5{
    margin: 0px!important;
}

.thumb-image{
    border-radius: 10px; 
    margin: 10px;
    width: 280px;
    height:280px;
}

.cancel-btn{
    color: #fff;
    background-color: #8080CC;
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 4px;
    border: 1px solid #8080CC;
}

.cancel-btn:hover{
    background-color: #fff;
    color:#8080CC;
}

.section-action{
    margin: 60px 0px 0px 200px;
}