/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2022, 11:30:58 PM
    Author     : Admin
*/
table tr td {
    border-bottom: 1px solid rgb(46, 30, 30);
    font-size: 20px;
    min-width: 200px;
    padding-top: 10px;
}

table tr td:last-child {
    min-width: 300px;
}

table tr {
    margin-top: 20px;
}

table{
    margin-left: 115px;
}

.row {
    min-height: 530px;
}

a.sub-btn {
    background-color: rgb(234, 13, 13);
    color: #fff;
    border: #fff;
    min-width: 100px;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 25px 0 20px 200px;
    text-decoration: none;
    position: relative;
    top:25px;
}

.account-img{
    width: 200px;
    height: auto;
    position: relative;
    margin-left: 164px;
    top: 170px;
    border-radius: 25px;
}

.col-sm-7{
    background: #40b2cd;
    align-content: center;
}

.col-sm-5{
    background-color: rgb(37, 178, 138);
}

h2{
    background-color: rgb(46, 207, 231);
    color: #fff ;
    width: 420px;
    text-align: center;
    margin-left: 115px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 3px;
}

