/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2022, 10:29:09 PM
    Author     : LTC
*/

body {
    background-color: #1d243d;
}

.form-gap {
    padding-top: 120px;
}

.panel {
    border-radius: 20px;
}

#moveLogin{
    margin-bottom: 20px;
    background-color: #3fd51f;
    color: #ffffff;
    border-radius: 13px;
    padding: 12px;
    font-weight: bold;
    width: 95px;
    border: none;
}
