body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #1d243d !important;
  padding: 0;
  margin: 0;
}

.container{
    width: 70% !important;
    padding-top: 20px;
}

form{
 background-color: rgb( 33, 41, 66 );
}

#success_message{ display: none;}