/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2022, 4:18:38 AM
    Author     : royal
*/
.swal-title{
    font-family: monospace;
    font-size: 20px;
    line-height: 40px;
    color: #8080CC;
}
.swal-button--defeat {
    background-color: #8080CC;
    font-size: 16px;
    color: white;
}
.swal-button--defeat:not([disabled]):hover{
    background-color:#48487e
}

.swal-button--ok {
    background-color: #8080CC;
    font-size: 16px;
    color: white;
}
.swal-button--ok:not([disabled]):hover{
    background-color:#48487e
}

.swal-icon--success{
    border-color: #8080CC;
}

.swal-icon--success__line{
    height:5px;
    background-color:#8080CC;
    display:block;
    border-radius:2px;
    position:absolute;
    z-index:2
}
.swal-icon--success__ring{
    width:80px;
    height:80px;
    border:4px solid #898abc;
    border-radius:50%;
    box-sizing:content-box;
    position:absolute;
    left:-4px;
    top:-4px;
    z-index:2
}
.swal-button--danger{
    background-color:#8080CC;
}
.swal-button--danger:not([disabled]):hover{
    background-color:#9292d3;
}
.swal-icon--warning{
    border-color:#9292d3;
    -webkit-animation:pulseWarning .75s infinite alternate;
    animation:pulseWarning .75s infinite alternate
}
.swal-icon--warning__body{
    width:5px;
    height:47px;
    top:10px;
    border-radius:2px;
    margin-left:-2px
}
.swal-icon--warning__body,.swal-icon--warning__dot{
    position:absolute;
    left:50%;
    background-color:#8080CC;
}
.swal-icon--warning__dot{
    width:7px;
    height:7px;
    border-radius:50%;
    margin-left:-4px;
    bottom:-11px
}

.swal-icon--error{
    border-color:#8080CC;
    -webkit-animation:animateErrorIcon .5s;
    animation:animateErrorIcon .5s
}

.swal-icon--error__x-mark{
    position:relative;
    display:block;
    -webkit-animation:animateXMark .5s;
    animation:animateXMark .5s
}

.swal-icon--error__line{
    position:absolute;
    height:5px;
    width:47px;
    background-color:#8080CC;
    display:block;
    top:37px;
    border-radius:2px
}
.swal-icon--error__line--left{
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    left:17px
}
.swal-icon--error__line--right{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:16px
}
@-webkit-keyframes animateErrorIcon{
    0%{
        -webkit-transform:rotateX(100deg);
        transform:rotateX(100deg);
        opacity:0
    }
    to{
        -webkit-transform:rotateX(0deg);
        transform:rotateX(0deg);
        opacity:1
    }}
@keyframes animateErrorIcon{
    0%{
        -webkit-transform:rotateX(100deg);
        transform:rotateX(100deg);
        opacity:0
    }
    to{
        -webkit-transform:rotateX(0deg);
        transform:rotateX(0deg);
        opacity:1
    }}
@-webkit-keyframes animateXMark{
    0%{
        -webkit-transform:scale(.4);
        transform:scale(.4);
        margin-top:26px;
        opacity:0
    }
    50%{
        -webkit-transform:scale(.4);
        transform:scale(.4);
        margin-top:26px;
        opacity:0
    }
    80%{
        -webkit-transform:scale(1.15);
        transform:scale(1.15);
        margin-top:-6px
    }
    to{
        -webkit-transform:scale(1);
        transform:scale(1);
        margin-top:0;
        opacity:1
    }}
@keyframes animateXMark{
    0%{
        -webkit-transform:scale(.4);
        transform:scale(.4);
        margin-top:26px;
        opacity:0
    }
    50%{
        -webkit-transform:scale(.4);
        transform:scale(.4);
        margin-top:26px;
        opacity:0
    }
    80%{
        -webkit-transform:scale(1.15);
        transform:scale(1.15);
        margin-top:-6px
    }
    to{
        -webkit-transform:scale(1);
        transform:scale(1);
        margin-top:0;opacity:1
    }}

@-webkit-keyframes pulseWarning{
    0%{
        border-color:#8080CC
    }
    to{
        border-color:#9292d3
    }}
@keyframes pulseWarning{
    0%{
        border-color:cc
    }
    to{
        border-color:#9292d3
    }}
